<!doctype html>
<html>
<head>
  <title> Adonis</title>
  <link rel='stylesheet' href=' {{ assetsUrl('assets/bootstrap/bootstrap.min.css') }}' />
</head>
<body>
  <div class='container'>
    @!include('partials/nav')
    @!section('content')
  </div>
</body>
</html>
